<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/script.js"></script>
</head>
<body id="startpage">
    <header><h1 id="titulo">Nome do jogo</h1></header>
    <main>
        <img src="" alt="">
        <ul>
            <li><a href="">Start</a></li>
            <li><a href="options.html">Options</a></li>
            <li><a href="credits.html">Credits</a></li>
        </ul>
    </main>
    <footer>
        <img src="" alt="" onclick="">
    </footer>
</body>
</html>